body{
margin:0;
background:#000;
font-family:"Courier New", monospace;
color:#0f0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

#terminal{
width:95vw;
height:95vh;
border:2px solid #333;
box-shadow:0 0 30px #000;
display:flex;
flex-direction:column;
background:#050505;
}

#header{
padding:12px;
border-bottom:1px solid #222;
font-weight:900;
}

.purple{ color:#9933ff; }
.dim{ color:#555; margin-left:10px; }

#nav{
display:flex;
gap:10px;
padding:10px;
border-bottom:1px solid #222;
flex-wrap:wrap;
}

#nav button{
background:#000;
color:#0f0;
border:1px solid #0f0;
padding:8px 14px;
cursor:pointer;
font-weight:900;
}
#nav button:hover{
background:#0f0;
color:#000;
}

#screen{
flex:1;
padding:20px;
overflow-y:auto;
}

.section-title{
color:#00f3ff;
font-size:1.4rem;
margin-bottom:10px;
text-shadow:0 0 10px #00f3ff;
}

.card{
border-left:6px solid #444;
padding:10px 14px;
margin-bottom:12px;
background:#080808;
}

.card .head{
font-weight:900;
margin-bottom:5px;
}

.card .sub{
color:#aaa;
font-size:0.9rem;
}
